::-webkit-scrollbar {
  width: 3px; 
  height: 8px; 
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}


::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}


::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body{
  font-family: 'Circular Std Book', sans-serif;
}

html {
    scrollbar-gutter: stable;
}