.location {
    display: flex;
    align-items: center;
    padding: 10px 0;
    line-height: 1.5rem;
    font-size: 13px;
    color: #5a5c69;
}


.address {
    font-weight: 700;
}

.edit {
    margin-left: auto;
    text-align: right;
    cursor: pointer;

}

.edit:hover {
    text-decoration-line: underline;
    text-decoration-style: solid;
}

.border {
    border-top: 1px solid #e3e6f0;
    border-bottom: 1px solid #e3e6f0;
}