.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;
    margin-bottom: 1.5rem;
}

.title {
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    .column {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .column {
        flex: 0 0 50%;
        max-width: 50%;
    }
}



.column {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
}