@media (min-width: 768px) {
    .cardContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* @media (min-width: 1200px) {
    .cardContainer {
        flex: 0 0 50%;
        max-width: 50%;
    }

} */



.cardItem {
    color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 6%);
    border-radius: 0.25rem;
    cursor: pointer;
}

.cardItem:hover p {
    text-decoration: underline;
}

.cardBody {
    padding: 1.25rem;
}

.cardContainer {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    width: 100%;
}

.cardFooter {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    border-top: 1px solid #00000020;
    padding: .75rem 1.25rem;
}