.main {
    padding: 1.5rem;
}


.banner {
    background: url("../image/Hero Section.png");
    width: 100%;
    height: 600px;
    padding: 24px;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    align-items: center;
}

.desc {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    flex-wrap: wrap;
}


.desc h1 {
    color: white;
}

.desc span {
    color: #6FFBBE;
}

.desc p {
    color: white;
}