.navBarWrapper,
.navLeft,
.navRight {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 8px 16px;
  justify-content: space-between;
  background: #fff;
  transition: all 0.3s ease-in-out;
}

.navBarWrapper{
  grid-column: span 4 / span 4;
}

.navLeft {
  column-gap: 20px;
}

.navRight {
  column-gap: 12px;
}

.navItem {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.navItem:hover {
  color: #c60021;
}
/* Responsive */


@media (max-width: 768px) {
  .navBarWrapper {
    flex-direction: column;
    height: auto;
    padding: 10px;
    row-gap: 10px;
  }

  .navLeft,
  .navRight {
    width: 100%;
    justify-content: space-between;
  }


}
