.navBarWrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-mobile-heigth);
  z-index: 12;
  background-color: white;
}

.searchGroup {
  display: flex;
  align-items: center;
  padding-right: 12px;
  column-gap: 12px;
}



.cart {

  width: 30px;
  height: 30px;

}

.searchDesktop {
  display: none;
}

.center {
  display: flex;
}

.searchDropdown {
  display: none;
  position: absolute;
  right: 50%;
  left: 50%;
  top: 80px;
  translate: -50% -50%;
  width: calc(100% - 1.5rem);
}


.searchDropdown.open {
  display: block;
}


.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo img {
  display: none;
  width: 60px;
  transition: transform 0.3s ease;
  transform: scale(0.8);
  border-radius: 50%;
  border: 1px solid #c60021;
}

/* .navLeft {
  column-gap: 20px;

} */



.menu {
  width: 70px;
  display: inline-block;
  text-align: center;
}

.navRight {
  column-gap: 12px;
}

.navItem {
  display: flex;
  align-items: center;
  column-gap: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.navItem:hover {
  color: #c60021;
}

/* Responsive */


@media (min-width: 768px) {
  .navBarWrapper {
    height: var(--navbar-desktop-heigth);
    row-gap: 10px;
  }

  .logo img {
    display: block;
  }

  .searchMobile {
    display: none;
  }

  .searchDesktop {
    display: block;
  }
}

@media (min-width: 1024px) {
  .logo {
    /* width: 224px; */
  }


}