.container {
    display: flex;
    align-items: center;

    justify-content: space-between;
}

/* wrapper cho sao */
.starList {
    display: flex;
    align-items: center;
    gap: 8px;
}

/* từng star */
.star {
    font-size: 20px;
    color: #858796;
    /* inactive */
    cursor: pointer;
    transition: color 0.2s ease, transform 0.15s ease;
}

/* khi active (được chọn hoặc hover) */
.active {
    color: #faa01a;
}

/* hover effect */
.star:hover {
    transform: scale(1.15);
}

/* disabled */
.disabled {
    pointer-events: none;
}

/* optional: button area nếu có */
.btn {
    margin-left: 12px;
}

/* #ffcd8d

#fca112 */