.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;
}



.disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
}