.bannerImg {
    object-fit: cover;
    width: 100%;
    max-height: 40vh;

}


.header {
    display: flex;
    gap: 2rem;
    background-color: white;
    padding: 1rem;
    position: relative;
    bottom: 40px;
    margin: 0 auto;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    z-index: 10;
    transition: all 0.3s ease;
}



.input {
    font-weight: 700;
    outline: solid 1px silver;
    border: none;
    font-size: 1.17rem;
    margin-bottom: 10px;

}



.textArea {
    width: 100%;
    resize: none;
    color: #6e707e;
    font-size: 16px;
    border: none;
    outline: solid 1px silver;
}





.description {
    margin-top: 20px;
}

.textMb {
    margin-bottom: 6px;
}


.navCategories {}

.category {}