.container {
    margin: 0 -20px;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.container>h2 {
    margin-left: 20px;
    margin-bottom: 20px;
}


.estimated {
    display: flex;
    justify-content: space-between;
}

.statusTrack {
    padding: 20px;
}

.distance,
.time {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-bottom: 20px;
}

.distance>i {
    color: #f6c23e;
    font-size: 1.25rem;
}

.time>i {
    color: red;
}

.count{
    
}


.footer {
    margin-top: auto;
    padding: 0 20px;
}

.map {
    height: 400px;
}