.container {
    width: 100%;
    padding: 1.5rem;
}

.container h5 {
    font-size: 20px;
    margin-bottom: 17px;
}

.orderList {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 12px;
}

.item {
    display: flex;
}

.item>* {
    width: 100%;
}

@media (min-width: 970px) {
    .orderList {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .orderList {
        grid-template-columns: repeat(3, 1fr);
    }
}